/*Text font from google and margin*/
#font{
  font-family: 'Pacifico', cursive;
  color: rgb(8,28,99);
  text-shadow: 2px 2px 2px rgb(202, 171, 5);
  margin-top: 40px;
  margin-left: 20%;
  float:left;
}

/*icon size*/
#icon
{
  height:60px;
  width: 150px;
}

#jumbo
{
  width: 100%;
  height:400px;
  margin-top: -60px;
}

.cards
{
  padding:0px 10px;
}

.copyright
{
  font-size: 25px;
}

footer
{
  background: white;
  border-top: 1px grey solid;
}

.forum
{
   text-indent: 100px;
   color: grey;
   font-weight: bold;
   font-size: 20px;
}

section ul li{
  display: inline;
  list-style-type: none;
  padding-right: 15px;
}
